body{
    background-image: url(https://img.freepik.com/premium-photo/soft-purple-silk-ai-generative_847288-848.jpg?w=740);
    background-size: cover;
    background-repeat: no-repeat; 
    border: 10px solid green;
    margin: 0; 


}
#box{
    border: 6px solid lawngreen;
   


}

.blue{
    width: 350px;
    height: 180px;
    padding: 20px;   
    border: 10px solid red;
    border-radius: 50px;
    background-color: black;
    color: aliceblue;
    text-transform: capitalize;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    display: inline-block; 
    
    margin: 10px -120px 0px 20px;
    
    
    
    
    
    
}
.black{
   
    display: inline-block;
    background-color: black;
    border: 10px solid red;
    border-radius: 50px;
    color: white;
    height: 60px;
    width: 400px;
    text-align: right;
    margin-left: 30px;
    
}
.color{
   
    display :inline-block;
    background-color: black;
    border: 10px solid red;
    color: white;
    border-radius: 50px ;
    width: 400px;
    text-align: center;
    margin-top: 100px;
    margin-left: 210px;
    
}
.pink{
      
   display: inline-block;
    width: 500px; 
    height: 450px;
   border: 10px solid black;
   border-radius: 50%;
   text-align: center;
   /* padding: 30px; */
   font-family: serif;
   background-color:green;
   padding-top: 70px;
   margin-left: 80px;
   
   
}
.line1{
    width: 450px;
    



}
.line2{
    width: 490px;



}


.green{
     display: inline-block;
    border: 2px solid black;
    height: 750px;
    width: 420px;
     margin-left: 350px;
    margin-top: 150px;
    text-align: center;
    color:coral;
    border: 10PX dashed red;
    font-family: sans-serif;
    background-color: bisque; 
    margin-bottom: 80px;  
}


.brown{
    background-color: black;
    color: white;
    border: 10px solid red;
    height: 80px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
   margin: auto;
    font-family: sans-serif;

}
.grey{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border: 4px solid green;
    border-radius: 80px;
    margin-left: 20px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
    
    
    
}


.call{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border: 4px solid green;
    border-radius: 80px;
    margin-left: 150px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
   
    margin-top: 40px;
    

}
.wrong{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border: 4px solid green;
    border-radius: 80px;
    margin-left: 20px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
   
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 80px;



}
.kong{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border: 4px solid green;
    border-radius: 80px;
    margin-left: 20px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    
    margin-left: 40px;




}
.rong{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border: 4px solid green;
    border-radius: 80px;
    margin-left: 20px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
   
    margin-left: 150px;

}






.ring{
    height: 330px;
    width: 300px;
    background-color: aquamarine;
    border: 4px solid green;
    border-radius: 80px;
    margin-left: 20px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
   
    margin-left: 150px;
    margin-bottom: 30px;






}
.main{
    /* height: 800px; */
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    
    gap: 40px;
    margin-top: 100px;


 }
 .a{
    height: 300px;
    width: 250px;
    background-color: aqua;
    border: 10px solid green;
    border-radius: 50px;
    
    
 }
 